/*Google Fonts Source Pro*/
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

header{
    background: rgba(0, 0, 0, 0.1);
    padding: 32px;
    border-bottom: 1px solid #333;
}

nav{
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
}

nav a:hover{
    color: #50fa7b;
    transition: color 200ms;

}

#wrapper{
    text-align: center;
    padding: 32px;
}

#wrapper a{
    color: #50fa7b;
    text-decoration: none;
}

#wrapper img{
    border-radius: 50%;
    border: solid 5px #50fa7b ;
    height: 300px;
}

#wrapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    margin-top: 8px;
}

#wrapper h2{
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.8;
}

#wrapper p{
   max-width:500px;
   margin: 32px auto;
   font-size: 20px;
   line-height: 30px;
}

footer{
    padding: 40px 0;
}

footer nav a{
    text-decoration: underline;
}